<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Obituaries</title>
</head>
<body>
    <h1>Obituaries</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Date of Death</th>
            <th>Content</th>
            <th>Author</th>
            <th>Submission Date</th>
        </tr>
        {% for obituary in obituaries %}
        <tr>
            <td>{{ obituary.id }}</td>
            <td>{{ obituary.name }}</td>
            <td>{{ obituary.date_of_birth }}</td>
            <td>{{ obituary.date_of_death }}</td>
            <td>{{ obituary.content }}</td>
            <td>{{ obituary.author }}</td>
            <td>{{ obituary.submission_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
